@model HomePageViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="">
    <p class="creditApplicationCountLabel">Active credit applications:</p>
    <p class="creditApplicationCount">@Model.ActiveCreditApplicationsNumber</p>
    <a asp-controller="CreditApplications" asp-action="Index">Refresh</a>
</div>
