@page "/creditapplications"
@using CreditApplicationSystem.Blazor.Services
@attribute [Authorize]
@inject ICreditApplicationService CreditApplicationService

<div class="card mt-4">
    <h4 class="card-header">Credit Applications</h4>
</div>

@code {
    
}