@page "/customers"
@using CreditApplicationSystem.Blazor.Services
@attribute [Authorize]
@inject ICustomerService CustomerService

<div class="card mt-4">
    <h4 class="card-header">Customers</h4>
</div>

@code {
    
}