@model CreditApplicationWorkflow.DataAccess.Entities.CreditApplication

@{
    ViewBag.Title = "Credit Application Details";
    Layout = "_Layout";
}

<h3>Credit Application Details</h3>
<div class="container">
    @Model.Id
    @Model.Customer.CustomerFirstName
    @Model.Customer.CustomerLastName
    @Model.AmountRequested
</div>
